# This is SAAS app with CFE https://youtu.be/WbNNESIxJnY?si=b8pV8Pt433z-k7to
Django==4.2.13
requests
whitenoise
python-decouple
django-allauth[socialaccount]
django-allauth-ui
django-widget-tweaks
stripe